---
import Layout from '../layouts/Layout.astro';
import ProductSearch from "../components/productSearch/ui/ProductSearch.tsx";
---

<Layout>
	<div class="mx-auto max-w-2xl p-4">
		<h1 class="mb-4 text-3xl font-bold">Recherche de produits</h1>
		<ProductSearch client:load />
	</div>
</Layout>
