---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ThirdShop</title>
	</head>
	<body class="flex flex-col h-screen">
		<slot />
		
		<footer class="border-t border-slate-200">
			<div class="mx-auto max-w-5xl p-3 text-center text-xs text-slate-500">
				© 2025 ThirdShop — Base de connaissances produits.
			</div>
		</footer>
	</body>
</html>